<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> <!-- Ensure Font Awesome is loaded -->
  <footer class="bg-black text-white text-center p-3 sm:p-2 text-[10px] sm:text-xs mt-8">
    <div class="footer-icons mb-2">
      <a href="https://facebook.com" target="_blank" class="mx-4 hover:text-blue-500 text-xl sm:text-lg">
        <i class="fab fa-facebook-f text-blue-600"></i> 
      </a>
      <a href="https://twitter.com" target="_blank" class="mx-4 hover:text-blue-400 text-xl sm:text-lg">
        <i class="fab fa-twitter text-blue-400"></i> 
      </a>
      <a href="https://instagram.com" target="_blank" class="mx-4 hover:text-pink-400 text-xl sm:text-lg">
        <i class="fab fa-instagram text-pink-500"></i> 
      </a>
    </div>
    <div class="footer-text text-[10px] sm:text-xs">
      &copy; 2025 Danceflow. All rights reserved.
    </div>
  </footer>
</body>
</html>
